<div id="param-fields-list" class="collapse">
<%= f.fields_for :page_field do |c| %>
<div id="field_<%= c.object.id %>">
	<%= c.hidden_field :id %>
	<%= c.hidden_field :position %>
	<%= c.hidden_field :name %>
	<%= c.hidden_field :ftype %>
	<div class="control-group">	
		<label class="control-label" for="page_page_fields_name"><%=t c.object.name %></label>
	    <div class="controls">
	    	<% if disabled_page?(@page) %>
	    	<%= c.text_field :value, class: 'span11', readonly: 'readonly' %>
	    	<% else %>
	        <%= c.text_field :value, class: 'span11' %>
	        <a href="#" class="add_field"><span class="icon-plus-sign"></span></a>
			<a href="#" class="del_field"><span class="icon-remove-sign"></span></a>			
	        <% end %>
	    </div>
	</div> 
</div>
<% end %>
</div>

<% if f.object.page_field.any? %>
<div class="control-group">
	<div id="moreless" class="controls">
		<a data-toggle="collapse" href="#param-fields-list">больше</a> <span class="icon-arrow-down"></span>
	</div>
</div>
<% end %>
