<div id="param-fields-list" class="collapse">
	<%= f.fields_for :page_field do |c| %>
	<div id="field_<%= c.object.id %>">
		<%= c.hidden_field :id %>
		<%= c.hidden_field :position %>
		<%= c.hidden_field :name %>
		<%= c.hidden_field :ftype %>
		<div class="control-group">	
			<label class="control-label" for="page_page_fields_name"><%=t c.object.name %></label>
		    <div class="controls">
		    	<% if disabled_page?(@page) %>
		    	<%= c.text_field :value, class: 'span11', readonly: 'readonly' %>
		    	<% else %>
		        <%= c.text_field :value, class: 'span11' %>
		        <a href="#mdFieldAdd" data-toggle="modal"><span class="icon-plus-sign"></span></a>
				<a href="#" class="del_field"><span class="icon-remove-sign"></span></a>		

		        <% end %>
		    </div>
		</div> 
	</div>
	<% end %>


    <div id="ajax_field_add">
   
	</div> 

</div>
<% if f.object.page_field.any? %>
<div class="control-group">
	<div id="moreless" class="controls">
		<a data-toggle="collapse" href="#param-fields-list"><%= t('_MORE') %></a> <span class="icon-arrow-down"></span>
	</div>
</div>
<% end %>


<div id="mdFieldAdd" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">


		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="myModalLabel">Заголовок</h3>
		</div>

		<div class="modal-body">
			<div class="control-group">	
				<label class="control-label">Имя поля</label>
			    <div class="controls">		    	
			    	<%= text_field_tag :field_name %>			    	
			    </div>

				<label class="control-label">Тип поля</label>    	
		    	<div class="controls">
		    		<%= select_tag(:field_type, options_for_select([[t('Title'), 'title'], [t('Meta'), 'meta'], [t('Bool'), 'bool'], [t('Text'), 'text'], [t('Textarea'), 'textarea'], [t('Image'), 'image']], 1)) %>
		    	</div>
			</div> 
		</div>

		<div class="modal-footer">
			<div class="control-group">	        
		        <div class="controls">
		            <%= link_to t("_BTN_SAVE"), admin_pages_field_add_path(count_page: @page.page_field.length) %>
		        </div>
		    </div> 
		</div>

</div>

