<div id="field_<%= @field.id %>">
	<%= c.hidden_field :id %>
	<%= c.hidden_field :position %>
	<%= c.hidden_field :name %>
	<%= c.hidden_field :ftype %>
	<div class="control-group">	
		<label class="control-label" for="page_page_fields_name"><%=t c.object.name %></label>
	    <div class="controls">
	    	<% if disabled_page?(@page) %>
	    	<%= c.text_field :value, class: 'span11', readonly: 'readonly' %>
	    	<% else %>
	        <%= c.text_field :value, class: 'span11' %>
	        <a href="#mdFieldAdd" data-toggle="modal"><span class="icon-plus-sign"></span></a>
			<a href="#" class="del_field"><span class="icon-remove-sign"></span></a>			
	        <% end %>
	    </div>
	</div> 
</div>

