<% provide(:title, "Редактирование: #{@page.name}") %>
<%= provide(:javascript, raw(field_javascript)) %>
<%= provide(:javascript, raw(tab_javascript)) %> 

<div class="row">
	<%= form_for @page, :url => admin_page_path do |f| %>
	    <legend>Редактирование раздела: <%= @page.name %></legend>

	   	<%= render 'fields', f: f %>	    
	<% end %>
</div>



