<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @admin_gallery.url %>
</p>

<p>
  <b>Name:</b>
  <%= @admin_gallery.name %>
</p>

<p>
  <b>Descr:</b>
  <%= @admin_gallery.descr %>
</p>

<p>
  <b>Active:</b>
  <%= @admin_gallery.active %>
</p>


<%= link_to 'Edit', edit_admin_gallery_path(@admin_gallery) %> |
<%= link_to 'Back', admin_galleries_path %>
