<%# if item.approved %>
<ul>
	<li>
		<input type="hidden" name="comment_id" value="<%= item.id %>">
		<b><%= item.user.name %>:</b> <span class="date"><%= l item.created_at, :format => :long %></span> <a href="#" class="reply">ответить</a><br>
		<%= item.comment %>
		<hr>
	</li>

	<% comment_list(item).each do |children| %>

	  <%= render 'comments', item: children %>
	<% end %> 
</ul>
<%# end %> 
