<h1>Listing admin_page_fields</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>String</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_page_fields.each do |admin_page_field| %>
  <tr>
    <td><%= admin_page_field.name %></td>
    <td><%= admin_page_field.value %></td>
    <td><%= admin_page_field.string %></td>
    <td><%= admin_page_field.position %></td>
    <td><%= link_to 'Show', admin_page_field %></td>
    <td><%= link_to 'Edit', edit_admin_page_field_path(admin_page_field) %></td>
    <td><%= link_to 'Destroy', admin_page_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page field', new_admin_page_field_path %>
