<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag    "admin/application", :media => "all" %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css' />
	
	<%= csrf_meta_tags %>
 
    <%= render 'layouts/shim' %>
</head>

<body>
	<%= render 'layouts/admin/header' %>

<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'layouts/admin/sidebar' %>		

		<%= yield :sidebar_l2 %>

		<div id="content" class="<%= (yield :sidebar_l2).present? ? 'span9' : 'span11' %>" style="min-height: 509px;"> 
			<%= render 'shared/flash_messages' %>  
		
			<div class="row-fluid"><%= yield %> </div>
		</div>
	</div>

	<%= render 'layouts/admin/footer' %>
</div>


<%= javascript_include_tag "admin/application" %>

<%= raw yield(:javascript) %>

<script type="text/javascript">	
// Добавление параметра
	
	function btFieldAdd_click() {

		var paramsCount = $('#param-fields-list .controls').length;
		var parName = document.getElementsByName('field_name').item(0).value;
		// Я не могу сделать вот так $('.field_name').name
		var html_position = '<input id="page_page_field_attributes___name___position" name="page[page_field_attributes][__name__][position]" type="hidden" value="'+paramsCount+'">';
		var html_ftype = '<input id="page_page_field_attributes___name___ftype" name="page[page_field_attributes][__name__][ftype]" type="hidden" value="meta">';
		var html_name = '<input id="page_page_field_attributes___name___name" name="page[page_field_attributes][__name__][name]" type="hidden" value="'+parName+'">';

		var html_value = '<input class="span11" id="page_page_field_attributes___name___value" name="page[page_field_attributes][__name__][value]" size="30" type="text" value=""> <a href="#" class="del_field"><span class="icon-remove-sign"></span></a>';
		var html_label = '<label class="control-label" for="page_page_fields___name_">'+parName+'</label>';

		var newTypeWidget = html_ftype.replace(/__name__/g, paramsCount);
		var newPositionWidget = html_position.replace(/__name__/g, paramsCount);
		var newNameWidget = html_name.replace(/__name__/g, paramsCount);

		var newValieWidget = html_value.replace(/__name__/g, paramsCount);
		var newLabelWidget = html_label.replace(/__name__/g, paramsCount);
		paramsCount++;

		var newFildData = $('<div id="field_"></div>').append(newTypeWidget);
		newFildData.append(newPositionWidget);
		newFildData.append(newNameWidget);

		var newPlaceVal = $('<div class="controls"></div>').html(newValieWidget);

		var newPlaceName = $('<div class="control-group"></div>');				
		$(newPlaceName).append(newLabelWidget);
		$(newPlaceName).append(newPlaceVal);
		
		newFildData.append(newPlaceName);
		$('#param-fields-list').append(newFildData);


}
</script>

<% if Rails.env.development? %>
<div class="container">
	<div class="row-fluid">
		<%= debug(params) %>
	</div>
</div>
<% end %>

</body>
</html>