<div class="blog-post">

    <h1><%= @page.field_by_name('h1') %></h1>

    <%= @page.content_by_name('main_content').html_safe %>

	<div class="meta">
		<%= gravatar_for @page.user, { size: 60 } if @page.user %>
		<%= link_to @page.user.name, '/user/articles' if @page.user %> <%= l @page.created_at, :format => :long %>
	</div>
	<br><br><br>
	
	<a name="comments"></a>
	<% if @page.comment_count > 0 %>
		<h3 class="comment-title">Комментарии</h3>

		<div class="comment-list">
			<% comment_list.each do |item| %>
				<%= render 'page_comments/comments', item: item, class_name: 'parent-comment' %>
			<% end %> 
		</div>	
	<% end %>
	<br><br>
	
	<% if @page.field_by_name('comment').downcase != 'no' && @page.parent.field_by_name('comment').downcase != 'no' %>
	<div class="comment-form">	
		<% 
			@page_comment = PageComment.new
			@page_comment.user = User.new
		%>		

		<%= form_for @page_comment, remote: true, format: :js do |f| %>
			<%= render 'page_comments/rows', f: f %>
		<% end %>
	</div>
	<% end %>
</div>        

