<% provide(:title, @page.title) %>
<% provide(:metatags, meta_tags(@page)) %>

<%= render 'shared/breadcrumbs' %> 

<% if field = @page.field_by_name('h1') %>
<h1><%= field %></h1>
<% end %>

<%= render 'news_list', p: @page %>

<%= render 'messages/message_form', message: @message = Message.new if @page.field_by_name('feedback').present? %>

<% if template = @page.field_by_name('template') %>
	<%= render_partial_if_exists template %>
<% else %>
	<% if content = @page.content_by_name('main_content') %>
		<%= content.html_safe %>
	<% end %>
<% end %>





