<% provide(:title, @page.title) %>
<% provide(:metatags, meta_tags(@page)) %>

<%= render 'shared/breadcrumbs' %> 

<%#= render 'news_list', p: @page %>

<%= render 'messages/message_form', message: @message = Message.new if @page.field_by_name('feedback').present? %>


<% if @page.field_by_name('template').present? || (@page.parent.present? && @page.parent.field_by_name('template').present? ) %>
    
    <%= render_partial_if_exists @page.field_by_name('template') if @page.field_by_name('template').present? %>
    <%= render_partial_if_exists @page.parent.field_by_name('template') + '_children' if @page.parent.present? && @page.parent.field_by_name('template').present? %>

<% else %>
	<h1><%= @page.field_by_name('h1') %></h1>
	<%= content.html_safe %>
<% end %>






