<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
 
    <%= render 'layouts/shim' %>
</head>

<body>
	<%= render 'layouts/header' %>

	<ul class="nav pull-right menu">
		<%= render 'layouts/top_menu' %>
	</ul> 

	<div class="container content">
		<div class="row-fluid">
			<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>

			<div class="hero-unit">
			  <%= yield %>
			  
			  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
			</div>			
		</div>		
	</div>
	<div class="subcontent">
		<div class="container"></div>
	</div>

	<%= render 'layouts/footer' %>

	<div class="container content">
		<div class="row-fluid">
			<%= debug(params) if Rails.env.development? %>
		</div>
	</div>	
</body>
</html>